header{
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-left:20%;
  opacity: 0.9;
}
body{
  font-style: italic;
  background: linear-gradient(to left, #4b6cb7, #182848);
}

nav{
  width:80%;

}
nav ul{
  display: flex;
  flex-direction: row-reverse;
  padding: 2px;

}
 nav ul li{
   list-style: none;
   height: 3em;
 }
nav ul li a{
  text-decoration: none;
  color: #b8b8b8;
  text-align: right;
  padding: 5px;
  font-size: 2em;
  border-radius: 15px 50px 30px;
  background: #182848;
  width: 200px;
  height: 150px;
}
nav ul li a:hover{
}

nav ul li:hover{
  cursor: pointer;
  background-color: #eee;
  transition: 2s;
border-radius: 15px 50px 30px;
}
section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.aboutmesection{
  margin-left: 10%;
  margin-top: 3%;
 background:linear-gradient(to right, #4b6cb7, #182848);
 height: 600px;
 width:50%;
 opacity:0.7;
 font-size: 20px;
 padding-top: 25px;
 padding-left: 50px;
color: #b8b8b8;

}
footer{
  height: 2%;
  text-align: center;
  color: white;
}
h2{
  font-family: cursive;
}
p{
  font-family: cursive;
}
img:hover{
  /*This describes animation about my image that flips
  360 deg on Y-axis*/
  cursor:pointer;
  animation: arose 2s linear alternate;
}
.social_media_logos{
  width: 100%;
  display: flex;
  flex-direction: row; justify-content: flex-start;
  margin-left: 4.6%;
  margin-top: 15%;
}
.social_media_logos a{
  margin: 0% 1%;
}
@keyframes arose {
    0%{
      transform: rotateY(0deg);
    }
    100%{
      transform: rotateY(360deg);
    }
}
